%h1 Edit today's menu

= render partial: 'meals/courses', collection: @facade.courses, locals: {facade: @facade}

= render partial: 'meals/form', locals: { menu: @facade.menu, meal: @facade.new_meal }

= link_to "Done!", menu_path(@facade.menu)
