<h1>Exceedingly gorgeous Lunch Selector</h1>
<h1>All menus:</h1>
<ul>
  <%@menus.each do |menu|%>
    <li>
      <%=link_to menu.created_at, menu_path(menu)%>
    </li>
  <%end%>
</ul>
<%=link_to "Create today's menu", new_menu_path%>
