%h1= t('views.menus.list')
%ul
  = render @menus

- if @menus.any? && current_user.admin?
  = link_to t('views.menus.new'), new_menu_path unless @menus&.last&.created_at.today?
- else
  = link_to t('views.menus.new'), new_menu_path
