<h1>Select your meals for today</h1>
<p><small>First neeed to implement a connection between Order and Meal</small></p>
<%= form_for [ @facade.menu, @facade.new_order ] do |f| %>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
