%h4 first_course
= render partial: 'meals/meal', collection: first_course, locals: { menu: menu }
%br
%h4 main_course
= render partial: 'meals/meal', collection: main_course, locals: { menu: menu }
%br
%h4 beverage
= render partial: 'meals/meal', collection: beverage, locals: { menu: menu }
%br
